<body class="about-bg">
<div class="container">
<h1>Brian Day</h1>
<p>Web Developer</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<br />
<a href="https://github.com/mrday21" target="blank">
    <%= image_tag("github.png")%>
</a>
</div>
</body>