<div class="container">
<h1>Calculators</h1>
<br />
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
<br />
</div>
<div class="container calc-buttons">
  <button type="button" class="btn btn-primary btn-lg btn-block">Sleep Calculator</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block">Temperature Calculator</button>
 <button type="button" class="btn btn-info btn-lg btn-block">Dog Year Calculator</button>
</div>