<!DOCTYPE html>
<html>
  <body> 
  <div class="container">
    <h1>Sleep Calculator</h1>
    <p id="demo">Fill Out the Form</p>
    <form>
     Day of Week:<br>
      <input type="text" name="day"><br>
     Hours Slept:<br>
      <input type="text" name="hours">
    <button type="button" onclick="calculateSleepDebt()">Try it</button>
    </form>
     <script src="//javascripts/sleep_calculator.js"></script>
  </div>
  </body>
</html>